/* Message */

.message-container {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
    padding: 100px 0;
}

.message-container.active {
    display: block;
    z-index: 1000;
}

.message-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    width: 400px;
    overflow: hidden;
}

.message-box .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px 0px;
}

.message-box .title.error {
    background-color: brown;
}

.message-box .title.success {
    background-color: #8bc349;
}

.message-box .title h1 {
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
    width: 90%;
    letter-spacing: 1.5px;
}

.message-box .title i {
    font-size: 60px;
}

.message-box .title h1, .title i {
    color:#fff;
}

.message {
    width: 90%;
    margin: 30px 0 25px;
    padding: 20px 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 2;
}

.message.error {
    padding: 0px 20px;
    text-align: left;
}

.message.success {
    padding: 0px 20px;
    text-align: center;
}

.message p {
    font-size: 15px;
    font-weight: 400;
    color: #333;
}

.message-box a {
    width: 85%;
    margin-bottom: 30px;
}

.message-box .btn {
    width: 100%;
    height: 40px;
    background: brown;
    border: 0;
    outline: 0;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
}

.message-box.success .btn {
    background: #8ac349;
}

.message-box.success .btn:hover {
    background: #8ac349c0;
}

.message-box .btn:hover {
    background: rgba(165, 42, 42, 0.9);
}